/*  MICROTHEMER STYLES  */


/*= Geral ===================== */

/** Geral >> negativa **/
.elementor-element-c2af9d6 > div > ul:nth-of-type(1) > li:nth-of-type(1) > .elementor-icon-list-text:nth-of-type(2) {
	padding-left: 5px !important;
}

/** Geral >> List item:(1) elementor icon list text:(2) **/
.elementor-element-ba77ef1 > div > ul:nth-of-type(1) > li:nth-of-type(1) > .elementor-icon-list-text:nth-of-type(2) {
	
}

/** Geral >> energia **/
.elementor-element-c2af9d6 > div > ul:nth-of-type(1) > li:nth-of-type(2) > .elementor-icon-list-text:nth-of-type(2) {
	padding-left: 5px !important;
}

/** Geral >> telefonia **/
.elementor-element-c2af9d6 > div > ul:nth-of-type(1) > li:nth-of-type(3) > .elementor-icon-list-text:nth-of-type(2) {
	padding-left: 5px !important;
}

/** Geral >> cursos **/
.elementor-element-c2af9d6 > div > ul:nth-of-type(1) > li:nth-of-type(4) > .elementor-icon-list-text:nth-of-type(2) {
	padding-left: 5px !important;
}

/** Geral >> Caso arquivo **/
#caso-arquivo {
	background-color: rgba(0, 0, 0, 0) !important;
	cursor: pointer !important;
}

/** Geral >> File cv **/
#file-cv {
	
}

/** Geral >> relate **/
#wpcf7-f1005-p42-o1 .wpcf7-textarea {
	
}

/** Geral >> Owl item:(17) elementor section wrap **/
.owl-item:nth-of-type(17) .elementor-section-wrap {
	
}

/** Geral >> Elementor element 512593d elementor button link **/
.elementor-element-512593d .elementor-button-link {
	
}

/** Geral >> Rt equal height:(7) post content **/
.rt-equal-height:nth-of-type(7) .post-content {
	/* MT [ google_font: 1 ] */
	font-family: 'Open Sans' !important;
	font-size: 17px !important;
}

/** Geral >> Rt equal height:(1) post content **/
.rt-equal-height:nth-of-type(1) .post-content {
	/* MT [ google_font: 1 ] */
	font-family: 'Open Sans' !important;
	font-size: 17px !important;
}

/** Geral >> Rt equal height:(2) post content **/
.rt-equal-height:nth-of-type(2) .post-content {
	/* MT [ google_font: 1 ] */
	font-family: 'Open Sans' !important;
	font-size: 17px !important;
}

/** Geral >> posts **/
#rt-tpg-container-630981764 > .rt-content-loader {
	/* MT [ google_font: 1 ] */
	font-family: 'Open Sans' !important;
	font-size: 17px !important;
}

/** Geral >> Elementor element bad5366 elementor element populated **/
.elementor-element-bad5366 > .elementor-element-populated {
	/* MT [ google_font: 1 ] */
	font-family: 'Open Sans' !important;
	font-size: 17px !important;
}

/** Geral >> unica **/
#menu-item-855 .hfe-menu-item {
	
}

/** Geral >> navbar **/
.elementor-element-818d0d0 > .elementor-element-populated {
	width: 1200px !important;
	padding-top: 40px !important;
	padding-right: 80px !important;
	margin-left: -100px !important;
}

