.elementor-2067 .elementor-element.elementor-element-4ca3ac6 .htmega-form-wrapper{padding:0px 0px 0px 0px;text-align:left;}.elementor-2067 .elementor-element.elementor-element-4ca3ac6 .wpcf7-form .wpcf7-form-control-wrap input[type*="text"]{height:60px;color:#A4A4A4;}.elementor-2067 .elementor-element.elementor-element-4ca3ac6 .wpcf7-form .wpcf7-form-control-wrap input[type*="email"]{height:60px;color:#A4A4A4;}.elementor-2067 .elementor-element.elementor-element-4ca3ac6 .wpcf7-form .wpcf7-form-control-wrap input[type*="url"]{height:60px;color:#A4A4A4;}.elementor-2067 .elementor-element.elementor-element-4ca3ac6 .wpcf7-form .wpcf7-form-control-wrap input[type*="number"]{height:60px;color:#A4A4A4;}.elementor-2067 .elementor-element.elementor-element-4ca3ac6 .wpcf7-form .wpcf7-form-control-wrap input[type*="tel"]{height:60px;color:#A4A4A4;}.elementor-2067 .elementor-element.elementor-element-4ca3ac6 .wpcf7-form .wpcf7-form-control-wrap input[type*="date"]{height:60px;color:#A4A4A4;}.elementor-2067 .elementor-element.elementor-element-4ca3ac6 .wpcf7-form .wpcf7-form-control-wrap .wpcf7-select{height:60px;color:#A4A4A4;}.elementor-2067 .elementor-element.elementor-element-4ca3ac6 .wpcf7-form .wpcf7-form-control-wrap input[type*="text"], .elementor-2067 .elementor-element.elementor-element-4ca3ac6 .wpcf7-form .wpcf7-form-control-wrap input[type*="email"], .elementor-2067 .elementor-element.elementor-element-4ca3ac6 .wpcf7-form .wpcf7-form-control-wrap input[type*="url"], .elementor-2067 .elementor-element.elementor-element-4ca3ac6 .wpcf7-form .wpcf7-form-control-wrap input[type*="number"], .elementor-2067 .elementor-element.elementor-element-4ca3ac6 .wpcf7-form .wpcf7-form-control-wrap input[type*="tel"], .elementor-2067 .elementor-element.elementor-element-4ca3ac6 .wpcf7-form .wpcf7-form-control-wrap input[type*="date"], .elementor-2067 .elementor-element.elementor-element-4ca3ac6 .wpcf7-form .wpcf7-form-control-wrap .wpcf7-select{font-family:"Roboto", Sans-serif;font-weight:600;}.elementor-2067 .elementor-element.elementor-element-4ca3ac6 .wpcf7-form .wpcf7-form-control-wrap textarea{height:0px;}.elementor-2067 .elementor-element.elementor-element-4ca3ac6 .wpcf7-form .wpcf7-submit{height:55px;}.elementor-2067 .elementor-element.elementor-element-4ca3ac6 > .elementor-widget-container{padding:0px 0px 0px 0px;background-color:#FFFFFF;border-radius:26px 26px 26px 26px;}.elementor-2067 .elementor-element.elementor-element-4ca3ac6 .elementor-widget-container{transition:all 400ms;}/* Start custom CSS for htmega-contactform-addons, class: .elementor-element-4ca3ac6 */#form-container {
    display: block;
    flex-flow: column;
}

.wpcf7 {
    height: 700px;
}

#vem-ser-unico {
    padding-bottom:;
}

#unico {
	text-align: center;
	padding-top: 2rem;
	color: #D40058;
}

input {
    
}

#name {
	width: 30%;
	margin-left: 1rem;
    background-color: #fff;
}

#email {
	width: 30%;
	margin-left: 1rem;
    background-color: #fff;
}

#tel {
	width: 30%;
	margin-left: 1rem;
    background-color: #fff;
}


#envio {
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: white;
	background-color: #D49B15;
	border-radius: 5px;
}

#envio:hover {
    background-color: #D40058;
}

#file-cv {
    margin-left: 1rem;
    color: #D40058;
    cursor: pointer;
}

#icon-cv {
    width: 20%;
}

#curriculum {
    display: none;
}

#input {
    display: flex;
}

#container-image {
	left: 550px;
	bottom: 500px;
	position: relative;
	width: 450px;
	align-items: center;
	display: block;
}

@media only screen and (max-width: 768px) {
#vem-ser-unico {
    margin: auto;
    display: block;
}

#container-image {
    display: none;
}
    
#name {
	width: 80%;
    background-color: #fff;
}

#email {
	width: 80%;
    background-color: #fff;
}

#tel {
	width: 80%;
    background-color: #fff;
}

#file-cv {
    font-size: 16px;
    width: 80%;
}

#envio {
    width: 80%;    
}
}/* End custom CSS */