.elementor-857 .elementor-element.elementor-element-a18d0ef{text-align:center;}.elementor-857 .elementor-element.elementor-element-a18d0ef img{width:65%;max-width:30%;}.elementor-857 .elementor-element.elementor-element-a18d0ef .elementor-widget-container{transition:all 400ms;}.elementor-857 .elementor-element.elementor-element-7c609b0 .hfe-nav-menu__toggle{margin-left:auto;}.elementor-857 .elementor-element.elementor-element-7c609b0 .menu-item a.hfe-menu-item{padding-left:15px;padding-right:15px;}.elementor-857 .elementor-element.elementor-element-7c609b0 .menu-item a.hfe-sub-menu-item{padding-left:calc( 15px + 20px );padding-right:15px;}.elementor-857 .elementor-element.elementor-element-7c609b0 .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item{padding-left:calc( 15px + 40px );padding-right:15px;}.elementor-857 .elementor-element.elementor-element-7c609b0 .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item{padding-left:calc( 15px + 60px );padding-right:15px;}.elementor-857 .elementor-element.elementor-element-7c609b0 .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item{padding-left:calc( 15px + 80px );padding-right:15px;}.elementor-857 .elementor-element.elementor-element-7c609b0 .menu-item a.hfe-menu-item, .elementor-857 .elementor-element.elementor-element-7c609b0 .menu-item a.hfe-sub-menu-item{padding-top:15px;padding-bottom:15px;}body:not(.rtl) .elementor-857 .elementor-element.elementor-element-7c609b0 .hfe-nav-menu__layout-horizontal .hfe-nav-menu > li.menu-item:not(:last-child){margin-right:5px;}body.rtl .elementor-857 .elementor-element.elementor-element-7c609b0 .hfe-nav-menu__layout-horizontal .hfe-nav-menu > li.menu-item:not(:last-child){margin-left:5px;}.elementor-857 .elementor-element.elementor-element-7c609b0 nav:not(.hfe-nav-menu__layout-horizontal) .hfe-nav-menu > li.menu-item:not(:last-child){margin-bottom:5px;}.elementor-857 .elementor-element.elementor-element-7c609b0 .menu-item a.hfe-menu-item, .elementor-857 .elementor-element.elementor-element-7c609b0 .sub-menu a.hfe-sub-menu-item{color:#FFFFFF;}.elementor-857 .elementor-element.elementor-element-7c609b0 .menu-item a.hfe-menu-item:hover,
								.elementor-857 .elementor-element.elementor-element-7c609b0 .sub-menu a.hfe-sub-menu-item:hover,
								.elementor-857 .elementor-element.elementor-element-7c609b0 .menu-item.current-menu-item a.hfe-menu-item,
								.elementor-857 .elementor-element.elementor-element-7c609b0 .menu-item a.hfe-menu-item.highlighted,
								.elementor-857 .elementor-element.elementor-element-7c609b0 .menu-item a.hfe-menu-item:focus{color:#FFFFFF;}.elementor-857 .elementor-element.elementor-element-7c609b0 .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent a.hfe-menu-item:before,
								.elementor-857 .elementor-element.elementor-element-7c609b0 .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent a.hfe-menu-item:after{background-color:#FFFFFF;}.elementor-857 .elementor-element.elementor-element-7c609b0 .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent .sub-menu .hfe-has-submenu-container a:after{background-color:unset;}.elementor-857 .elementor-element.elementor-element-7c609b0 .hfe-pointer__framed .menu-item.parent a.hfe-menu-item:before,
								.elementor-857 .elementor-element.elementor-element-7c609b0 .hfe-pointer__framed .menu-item.parent a.hfe-menu-item:after{border-color:#FFFFFF;}.elementor-857 .elementor-element.elementor-element-7c609b0 .sub-menu a.hfe-sub-menu-item, 
								.elementor-857 .elementor-element.elementor-element-7c609b0 .elementor-menu-toggle,
								.elementor-857 .elementor-element.elementor-element-7c609b0 nav.hfe-dropdown li a.hfe-menu-item,
								.elementor-857 .elementor-element.elementor-element-7c609b0 nav.hfe-dropdown li a.hfe-sub-menu-item,
								.elementor-857 .elementor-element.elementor-element-7c609b0 nav.hfe-dropdown-expandible li a.hfe-menu-item,
								.elementor-857 .elementor-element.elementor-element-7c609b0 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item{color:#524A4A;}.elementor-857 .elementor-element.elementor-element-7c609b0 .sub-menu,
								.elementor-857 .elementor-element.elementor-element-7c609b0 nav.hfe-dropdown,
								.elementor-857 .elementor-element.elementor-element-7c609b0 nav.hfe-dropdown-expandible,
								.elementor-857 .elementor-element.elementor-element-7c609b0 nav.hfe-dropdown .menu-item a.hfe-menu-item,
								.elementor-857 .elementor-element.elementor-element-7c609b0 nav.hfe-dropdown .menu-item a.hfe-sub-menu-item{background-color:#FCFCFC;}.elementor-857 .elementor-element.elementor-element-7c609b0 .sub-menu a.hfe-sub-menu-item:hover, 
								.elementor-857 .elementor-element.elementor-element-7c609b0 .elementor-menu-toggle:hover,
								.elementor-857 .elementor-element.elementor-element-7c609b0 nav.hfe-dropdown li a.hfe-menu-item:hover,
								.elementor-857 .elementor-element.elementor-element-7c609b0 nav.hfe-dropdown li a.hfe-sub-menu-item:hover,
								.elementor-857 .elementor-element.elementor-element-7c609b0 nav.hfe-dropdown-expandible li a.hfe-menu-item:hover,
								.elementor-857 .elementor-element.elementor-element-7c609b0 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item:hover{color:#D40058;}.elementor-857 .elementor-element.elementor-element-7c609b0 .sub-menu .menu-item.current-menu-item a.hfe-sub-menu-item.hfe-sub-menu-item-active,	
							.elementor-857 .elementor-element.elementor-element-7c609b0 nav.hfe-dropdown .menu-item.current-menu-item a.hfe-menu-item,
							.elementor-857 .elementor-element.elementor-element-7c609b0 nav.hfe-dropdown .menu-item.current-menu-ancestor a.hfe-menu-item,
							.elementor-857 .elementor-element.elementor-element-7c609b0 nav.hfe-dropdown .sub-menu .menu-item.current-menu-item a.hfe-sub-menu-item.hfe-sub-menu-item-active
							{color:#564444;}.elementor-857 .elementor-element.elementor-element-7c609b0 ul.sub-menu{width:220px;}.elementor-857 .elementor-element.elementor-element-7c609b0 .sub-menu a.hfe-sub-menu-item,
						 .elementor-857 .elementor-element.elementor-element-7c609b0 nav.hfe-dropdown li a.hfe-menu-item,
						 .elementor-857 .elementor-element.elementor-element-7c609b0 nav.hfe-dropdown li a.hfe-sub-menu-item,
						 .elementor-857 .elementor-element.elementor-element-7c609b0 nav.hfe-dropdown-expandible li a.hfe-menu-item,
						 .elementor-857 .elementor-element.elementor-element-7c609b0 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item{padding-top:15px;padding-bottom:15px;}.elementor-857 .elementor-element.elementor-element-7c609b0 .sub-menu li.menu-item:not(:last-child), 
						.elementor-857 .elementor-element.elementor-element-7c609b0 nav.hfe-dropdown li.menu-item:not(:last-child),
						.elementor-857 .elementor-element.elementor-element-7c609b0 nav.hfe-dropdown-expandible li.menu-item:not(:last-child){border-bottom-style:solid;border-bottom-color:#c4c4c4;border-bottom-width:1px;}.elementor-857 .elementor-element.elementor-element-7c609b0 div.hfe-nav-menu-icon{color:#FFFFFF;}.elementor-857 .elementor-element.elementor-element-7c609b0 div.hfe-nav-menu-icon svg{fill:#FFFFFF;}.elementor-857 .elementor-element.elementor-element-7c609b0 .menu-item a.hfe-menu-item.elementor-button{color:#FFFFFF;background-color:#D40058;}.elementor-857 .elementor-element.elementor-element-7c609b0 > .elementor-widget-container{margin:10px 0px 0px 0px;}.elementor-857 .elementor-element.elementor-element-7c609b0 .elementor-widget-container{transition:all 400ms;}@media(max-width:1024px){body:not(.rtl) .elementor-857 .elementor-element.elementor-element-7c609b0.hfe-nav-menu__breakpoint-tablet .hfe-nav-menu__layout-horizontal .hfe-nav-menu > li.menu-item:not(:last-child){margin-right:0px;}body .elementor-857 .elementor-element.elementor-element-7c609b0 nav.hfe-nav-menu__layout-vertical .hfe-nav-menu > li.menu-item:not(:last-child){margin-bottom:0px;}}@media(max-width:767px){.elementor-857 .elementor-element.elementor-element-16d6cae{width:50%;}.elementor-857 .elementor-element.elementor-element-a18d0ef{text-align:left;}.elementor-857 .elementor-element.elementor-element-818d0d0{width:50%;}.elementor-bc-flex-widget .elementor-857 .elementor-element.elementor-element-818d0d0.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-857 .elementor-element.elementor-element-818d0d0.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}body:not(.rtl) .elementor-857 .elementor-element.elementor-element-7c609b0.hfe-nav-menu__breakpoint-mobile .hfe-nav-menu__layout-horizontal .hfe-nav-menu > li.menu-item:not(:last-child){margin-right:0px;}body .elementor-857 .elementor-element.elementor-element-7c609b0 nav.hfe-nav-menu__layout-vertical .hfe-nav-menu > li.menu-item:not(:last-child){margin-bottom:0px;}}@media(min-width:768px){.elementor-857 .elementor-element.elementor-element-16d6cae{width:21%;}.elementor-857 .elementor-element.elementor-element-818d0d0{width:79%;}}