.elementor-1958 .elementor-element.elementor-element-f3c22fc .elementor-heading-title{color:#D40058;font-family:"Roboto", Sans-serif;font-size:34px;font-weight:600;}.elementor-1958 .elementor-element.elementor-element-f3c22fc > .elementor-widget-container{margin:60px 0px 0px 0px;}.elementor-1958 .elementor-element.elementor-element-f3c22fc .elementor-widget-container{transition:all 400ms;}.elementor-1958 .elementor-element.elementor-element-f2bc03f{color:#000000;font-family:"gotham-black", Sans-serif;font-size:17px;font-weight:400;}.elementor-1958 .elementor-element.elementor-element-f2bc03f > .elementor-widget-container{margin:15px 0px 0px 0px;}.elementor-1958 .elementor-element.elementor-element-f2bc03f .elementor-widget-container{transition:all 400ms;}.elementor-1958 .elementor-element.elementor-element-b196b64 .elementor-widget-container{transition:all 400ms;}/* Start custom CSS for image, class: .elementor-element-b196b64 */@media only screen and (max-width: 768px) {
    #estadao {
    }
}/* End custom CSS */