				@font-face {
					font-family: 'gotham-black';
					src: url('/wp-content/uploads/useanyfont/8879Gotham-Black.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/8879Gotham-Black.woff') format('woff');
				}

				.gotham-black{font-family: 'gotham-black' !important;}

				.et_gf_gotham-black{background:none !important;font-family:gotham-black;text-indent:0 !important;font-size:25px;}

		