				@font-face {
					font-family: 'gotham-black';
					src: url('/wp-content/uploads/useanyfont/8879Gotham-Black.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/8879Gotham-Black.woff') format('woff');
					font-display: auto;
				}

				.gotham-black{font-family: 'gotham-black' !important;}

						h1, h2, h3, h4, h5, h6, .entry-title, body.single-post .entry-title, body.page .entry-title, body.category .entry-title, .widget-title, .site-title, .site-description, body, p, blockquote, li, a, strong, b, em, .menu-header-container li a, .menu-header-container li span, #menu-header li a, #menu-header li span{
					font-family: 'gotham-black' !important;
				}
		